body {
    font-family: 'Times New Roman', Times, serif;
    background-color: gray;
}

h1 {
    text-align: center;
}

div {
    text-align: center;
    margin-top: 10%;
}

a {
    padding: 20px;

    -moz-animation-duration: 0.2s;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -moz-animation-name: btn_border_animation;
    -webkit-animation-name: btn_border_animation;
    animation-name: btn_border_animation;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-moz-keyframes btn_border_animation {
    from {
        border: 1px dashed black;
    }

    to {
        border: 1px dotted black;
    }
    
}

@-webkit-keyframes btn_border_animation {
    from {
        border: 1px dashed black;
    }

    to {
        border: 1px dotted black;
    }
}

@keyframes btn_border_animation {
    from {
        border: 1px dashed black;
    }

    to {
        border: 1px dotted black;
    }
}

a:link, a:visited {
    color: black;
    text-decoration: none;
}