<!DOCTYPE html>
<html>
<head>
    <title>Colorful World - Make the World more Colorful</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/phaser.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<!-- <body class="bg-secondary"> -->
<body style="background-color:var(--bs-gray)">
    <h1 class="text-dark text-center display-1">Colorful World</h1>

    <div class="d-grid gap-3 d-md-flex justify-content-md-center">
        <a href="/play_game" class="btn btn-dark btn-lg" role="button">PLAY GAME</a>
        <a href="#firstModal" class="btn btn-light btn-lg" role="button" data-bs-toggle="modal">HOW TO PLAY</a>
    </div>

    <div id="wrapper"></div>

    <!-- first modal -->
    <div id="firstModal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h3 class="modal-title w-100">HOW TO PLAY (1 / 4)</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body text-center">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12 p-0 h3">SELECT TARGET</div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 p-0">
                                <img class="img-fluid" src="{{ url_for('static', filename='img/1-1.png') }}">
                            </div>
                            <div class="col-md-2 p-0 h1 align-self-center">
                                ▶
                            </div>
                            <div class="col-md-5 p-0">
                                <img class="img-fluid" src="{{ url_for('static', filename='img/1-2.png') }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 p-0 h5">PRESS <strong>UP/DOWN ARROW KEY</strong> TO SELECT TARGET TO FILL COLOR</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#secondModal">NEXT</button>
                </div>
            </div>
        </div>
    </div>
    <!-- second modal -->
    <div id="secondModal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h3 class="modal-title w-100">HOW TO PLAY (2 / 4)</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body text-center">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12 p-0 h3">ROTATE PALETTE</div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 p-0">
                                <img class="img-fluid" src="{{ url_for('static', filename='img/2-1.png') }}">
                            </div>
                            <div class="col-md-2 p-0 h1 align-self-center">
                                ▶
                            </div>
                            <div class="col-md-5 p-0">
                                <img class="img-fluid" src="{{ url_for('static', filename='img/2-2.png') }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 p-0 h5">PRESS <strong>LEFT/RIGHT ARROW KEY</strong> TO ROTATE COLOR PALETTE ON LEFT/RIGHT-SIDE</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#firstModal">PREVIOUS</button>
                    <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#thirdModal">NEXT</button>
                </div>
            </div>
        </div>
    </div>
    <!-- third modal -->
    <div id="thirdModal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h3 class="modal-title w-100">HOW TO PLAY (3 / 4)</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body text-center">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12 p-0 h3">FILL COLOR</div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 p-0">
                                <img class="img-fluid" src="{{ url_for('static', filename='img/3-1.png') }}">
                            </div>
                            <div class="col-md-2 p-0 h1 align-self-center">
                                ▶
                            </div>
                            <div class="col-md-5 p-0">
                                <img class="img-fluid" src="{{ url_for('static', filename='img/3-2.png') }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 p-0 h5">PRESS <strong>SPACE KEY</strong> TO COMBINE LEFTSIDE & RIGHTSIDE COLORS AND FILL IT ONTO TARGET</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#secondModal">PREVIOUS</button>
                    <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#fourthModal">NEXT</button>
                </div>
            </div>
        </div>
    </div>
    <!-- fourth modal -->
    <div id="fourthModal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h3 class="modal-title w-100">HOW TO PLAY (4 / 4)</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body text-center">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12 p-0 h3">OBJECTIVE</div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 p-0">
                                <img class="img-fluid" src="{{ url_for('static', filename='img/4-1.png') }}">
                            </div>
                            <div class="col-md-2 p-0 h1 align-self-center">
                                ▶
                            </div>
                            <div class="col-md-5 p-0">
                                <img class="img-fluid" src="{{ url_for('static', filename='img/4-2.png') }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 p-0 h5">MAKE TARGET COLORS SAME AS IMAGE ON TOP OF SCREEN</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#thirdModal">PREVIOUS</button>
                    <button class="btn btn-dark" data-bs-dismiss="modal">CLOSE</button>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>