<!DOCTYPE html>
<html>
<head>
    <title>Colorful World - Make the World more Colorful</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/phaser.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/gameLogic.js')}}"></script>
</head>
<body class="bg-secondary">
    <input type="hidden" id="target" value="{{ target }}">
    <input type="hidden" id="left" value="{{ left }}">
    <input type="hidden" id="right" value="{{ right }}">
    <div id="wrapper"></div>

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
</body>
</html>